<html>
<head>
<style>

/* One of these two made the background black */
html{
	background-color: #000010;
}

body{
    background-color: #000010;
	background-image: url("../FbP.jpg");
    background-repeat: no-repeat;
}
/**********************************************/

h1 {
    color: white;
	background-color: #787878;
    text-align: center;
}

p {
    color: white;
    font-family: verdana;
    font-size: 18px;
	text-align: center;
}

/*For Horizontal Navigation Bar*/
u1{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: inline;
}
/***********************/
</style>
</head>
</html>



